.letra{
    font-family: Arial;
}

#foto {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: auto; 
}

.titulo {
    color:#2443aa;
    background-color:rgb(158, 155, 155);
    text-align:center
}

.fondo{
    background-image: url("../img/fondo.jpg")
}


.subtitulo {
    color:#2443aa;
    background-color:rgb(158, 155, 155)
}

.cursiva {
    font-style:italic;
    font-weight:bold
}

.negrilla {
    font-weight:bold
}

.tabulado{
    margin-left: 87px;
}


.footer {
    color:white;
    background-color:#2443aa;
    text-align:center;
    font-family: Arial    
}

.fab{
    color:white;
    padding: 10px
}